.wrapper {
  background: #82cdde;
  padding: 12px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  > .logo {
    display: flex;
    align-items: center;

    > span {
      margin: 0 8px;
      color: #ffffff;
      font-size: 22px;
      font-weight: 500;
    }
  }

  > .search {
    flex-grow: 1;
    min-width: 144px;
    max-width: 220px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 8px 4px 16px;
    margin-left: 16px;
    background: #ffffff;
    display: flex;
    align-items: center;

    label {
      width: 100%;
    }

    input {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.72);
    }
  }
}
