nav {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff;

  > ul {
    width: 100%;
    display: flex;

    > li {
      width: 50%;

      > a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 18px;

        &.active {
          color: #0f859e;

          > span {
            border-bottom: 3px solid #0f859e;
          }
        }

        > span {
          height: 100%;
          padding: 6px 24px;
          display: flex;
          align-items: center;
          border-bottom: 3px solid transparent;
        }
      }
    }
  }
}
